<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Review</title>
    <meta name="google" content="notranslate">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/interactive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/review_transfer.css">
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0855e51304.js" crossorigin="anonymous"></script>
</head>
<body>

    
  <!--overlay--> <%- include('../partials/overlay') %>

  <!--overlay--> <%- include('../partials/network_error_modal') %>

   <div class="container">

    <!--side bar--> <%- include('../partials/sidebar') %>
    
    <div class="sub_container">
    
    <!--header--> <%- include('../partials/header') %>
    
    <div class = "overall_grid">
    
    <h1>Transfer Review</h1>

    <div class="review_container">
        <h2>Confirm Details</h2>
        <div class="details">
            <p id = "recipient"><strong>Recipient:</strong>...</p>
            <p id = "account_number"><strong>Account Number:</strong> ...</p>
            <p id = "beneficiary_bank"><strong>Bank:</strong> ...</p>
            <p id = "amount"><strong>Amount:</strong> ...</p>
        </div>
        <input type="password" name = "four_digit_pin" id = "four_digit_pin" placeholder="Enter Transfer PIN">
        <button class="btn" id = "confirm_transfer_btn">Confirm Transfer</button>
    </div>
     
</div>  
             
</div>

<!-- footer <%- include('../partials/footer') %> -->

</div>

<script>

    window.onload = function () {

        const currencyCode = "<%= user.currencyCode %>"
         
        let recipient = document.getElementById("recipient");

        let account_number = document.getElementById("account_number");

        let beneficiary_bank = document.getElementById("beneficiary_bank");

        let amount = document.getElementById("amount");

        recipient.innerHTML = `<strong>Recipient:</strong> ${localStorage.getItem("beneficiary")}`

        account_number.innerHTML = `<strong>Account Number:</strong> ${localStorage.getItem("account_number")}`

        beneficiary_bank.innerHTML = `<strong>Bank:</strong> ${localStorage.getItem("beneficiary_bank")}`

        amount.innerHTML = `<strong>Amount:</strong> ${new Intl.NumberFormat("en-US", {style: "currency", currency: currencyCode}).format(localStorage.getItem("amount"))}`
    
    }
    
</script>
<div id="google_translate_element" style="display:none"></div>
    <!-- define function BEFORE loading Google Translate -->
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
  }

  function changeLanguageByButtonClick() {
    var language = document.getElementById("language").value;
    var selectField = document.querySelector("#google_translate_element select");
    for (var i = 0; i < selectField.children.length; i++) {
      var option = selectField.children[i];
      if (option.value === language) {
        selectField.selectedIndex = i;
        selectField.dispatchEvent(new Event('change'));
        break;
      }
    }
  }
</script>

<!-- Now load the script -->
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script src="/js/helper.js"></script>
</body>
</html>
